/* 
#2864AD darker blue
#529EFA middle blue
#6EAFFF lite blue
#AD7917 gold
#FAEACD pink
*/
* {
    box-sizing: border-box;
}

h1 {
    color: #AD7917;
    text-align: center;
}

#brief_description {
    float: left;
    width: 50%;
}

#self_portrait {
    float: right;
    display:block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;   
}

.contact {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


body {
    background-color: #FAEACD;
    font-family: "Helvetica Neue",Helvetica,Arial;
    line-height: 1.5em;
}

.clock {
    border: solid royalblue 5px;
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto; 
   padding: 10px;
   font-size: larger;
}

/***************** todo  ********************/
ul#CurrentToDos li {
    list-style-type: none;
}








/****************** navbar ******************/
#navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #6EAFFF;
    border-radius: 5px;
    overflow: auto;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    background: #2864AD;
    padding: 15px 20px;
    text-decoration: none;
}

#navbar li a:hover {
    background: #529EFA;
    cursor: pointer;
}