
/*************** general styling for all pages *************/
* {
    box-sizing: border-box;
}



body {
    background-color: #344a72;
    font-family: "Helvetica Neue",Helvetica,Arial;
    line-height: 1.5em;
}




/***************** home ********************/
#brief_description {
    float: left;
    width: 60%;
    color:#fff;
}

#self_portrait {
    float: right;
    width: 35%;
}

#AboutMe {
    text-align: center;
    color: #fff;
}




/***************** contactme ********************/
.contact {
    margin: auto;
    max-width: 75%;
    text-align: center;
    margin-top: 70px;
    padding: 70px 0px;
    font-size: 32px;
    color: #fff;
    border: 10px solid #6EAFFF;
    border-radius: 15px;
}


/***************** clock ********************/
.clock {
    margin: auto;
    max-width: 75%;
    text-align: center;
    margin-top: 70px;
    padding: 70px 0px;
    font-size: 70px;
    color: #fff;
    border: 10px solid #6EAFFF;
    border-radius: 15px;
    
}

/***************** todo  ********************/
.todo {
    margin: auto;
    max-width: 100%;
    text-align: center;
}

#inputField {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 75px;
    width: 400px;
    font-size: larger;
    border: 10px solid #6EAFFF;
    border-radius: 5px;

}

#inputField:focus {
    outline: none;
}

#ShowHideButton {
    background: #6eafff;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

#ShowHideButton:hover {
    background: #6eafff9c;

}

.todo ul {
    display: grid;
    row-gap: 20px;
}
.todo ul li {
    color: #fff;
    margin: auto;
    width: 80%;
    list-style-type: none;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.todo ul li p {
    text-align: left;
    border: 1px solid white;
    border-radius: 5px;
    display: inline;
}

.todo ul li input {
    grid-column-start: 1;
    position: relative; 
    left: 50%;
    top: 35%;
}
.todo ul li button:hover {
    background: #6eafff9c;
}

.todo ul li button {
    background: #6eafff;
    color: white;
    width: 75%;
    height: 64px;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    grid-column: 3;
    justify-self: center;
}





/****************** navbar ******************/
#navbar {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    background: #6EAFFF;
    border-radius: 5px;
    overflow: auto;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    background: #2864AD;
    color: #FFFF;
    padding: 15px 20px;
    text-decoration: none;
}

#navbar li a:hover {
    background: #529EFA;
    cursor: pointer;
}

#navbar li a:visited {
    color: #FFF;
}